html{
    margin: 0;
}
body{margin:0;}
a{color: darkslateblue;}
h1,h2,h3,h4,h5 {
    font-family: "Ubuntu", sans-serif;
}
h1{font-size: 54px;}
h2{font-size: 36px;}
h3{font-size: 34px;}
h4{font-size: 28px;}
h5{font-size: 24px;}
p{
    font-family: "poppins", sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
  }

.wrapper {overflow: auto;margin-left: 5px;}

#main {
    margin:0;
    padding: 0px;
    padding-left: 15px;
    padding-right: 10px;}

#leftsidebar {
  float: none;
  width: auto;
}

  @media screen and (min-width: 600px) {
    #leftsidebar {width: 25%; float: left;}
    #main {margin-left: 26%;}
    /*.sticky {display: inline;}*/
    #navbar li{display:inline;float:right;width:auto;}
    #navbar a{padding-left: 25px !important;}
    p{font-size: 24px;}
  }

#site-title{
    margin: 0 35px;
    height:auto;
    padding-bottom: 10px;
}
#site-title a{
    text-decoration: none;
    font-size: 35px;
    color: rgb(0,0, 0);
    font-family: "poppins", "ubuntu", sans-serif;
    font-weight: bolder;
    transition: all 1s;
}

#site-title a:hover{
    font-size: 38px;
}

#page-hero{    
    width: auto;
    position: relative;
    padding-top: 2px;   
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin: 0; 
}
#page-title{
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    width:100%;    
    font-family: "Ubuntu", sans-serif;
    font-size: 45px;
    font-weight: 100;
 /*   text-decoration: none;
    transition-property: all;
    transition-duration: 1s;*/
}
#page-title h1{
    color: rgba(246, 213, 121, 0.85);
    text-decoration: none;
    text-shadow:
    -1px -1px 12px  rgba(0, 0,0, 0.5),
     0   -1px 12px  rgba(108, 108, 84, 0.5),
     1px -1px 12px  rgba(108, 108, 84, 0.5),
     1px  0   12px  rgba(108, 108, 84, 0.5),
     1px  1px 12px  rgba(108, 108, 84, 0.5),
     0    1px 12px  rgba(108, 108, 84, 0.5),
    -1px  1px 12px  rgba(108, 108, 84, 0.5),
    -1px  0   12px  rgba(108, 108, 84, 0.5);
}

#navbar{padding-inline-start: 3px;}
#navbar a{
    padding-left: 3px;

}
#navbar ul{
    margin-top: 0;
    padding: 5px;
    text-align:left;
    height:35px;    
}
#navbar li{list-style-type: none;}

.menuitem a {
    color:black;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}


.sticky { 
    position: fixed;
    top: 0;
    opacity: 0.5; 
    border:2px;
    border-color: black;
    border-radius: 8px;
}
.sticky a {
    font-size: 16px;
    padding-left: 3px !important;
}


.sticky:hover{
    opacity: 1;
    background-color: rgb(242, 222, 166);
    padding-right: 8px;
    padding-bottom: 3px;
    scale: 1.05;
    transition-duration: 1s;
}
#page-description{
    font-family: "Ubuntu","poppins",sans-serif;
    text-align: left;
    border-top: solid 1px;
    border-bottom: solid 1px;
    
}
#page-description a{
    margin-block-end: 0px;
}
#page-description h1{
    margin-top: 0;
}
.section{
    padding-top: 70px;
    width: 100%;
    min-height: 150px;
}
.s50{
    height: 50px;
    width: 100%;
}
.s100{
    height: 100px;
    width: 100%;
}

.button2-centered button{
    display: inline;
    float: left ;
    margin: 0;
    position: absolute;
    left: 25%;


}
.links{
    font-family: "Poppins", sans-serif;
    font-weight:300;
    font-size: 24px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color: rgba(246, 213, 121, 0.85);
    transition-duration: 1s;

}
.links:hover{
    font-size: 28px;
}

.video{
    width:auto;   
}

.video-text{
    font-weight: bold;
    font-size: 18px;
}
.responsive{
    max-width: 100%;
    height: auto;
}
  
.index {
    padding-bottom: 50px;
    margin-left: 25px;
}
.index h3 {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(39, 39, 39);
  }
    .index a {    
    font-size: 28px; 
    color: rgb(39,39, 39);
    padding-left: 2%;
    text-decoration: none; 
    transition-property: all;
    transition-duration: 1s;
  }
  .index a:hover {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:rgb(240, 52, 5);
  text-shadow: 3px 3px 3px rgb(123, 117, 142);
  }
  .grow a{    
    text-decoration: none; 
    transition-property: all;
    transition-duration: 1s;
  }

  .grow a:hover{
    font-size: 112%;
    color:rgb(240, 52, 5);
    text-shadow: 3px 3px 3px rgb(123, 117, 142);
  }

  .button{  
    height: 45px;
  }

  .hide{
    display: none;
  }
  .small_text{
    font-size: 14px;
  }
