html{
    margin: 0;
}
body{margin:0;}
a{color: darkslateblue;}
h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif;
}

h1{font-size: 40px;}
h2{font-size: 32px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}

p{
    font-family: "poppins", sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
  }

.wrapper {overflow: auto;padding-left: 5px;}

#main {
    margin:0;
    padding: 0px;
    padding-left: 15px;
    padding-right: 50px;}

#leftsidebar {
  float: none;
  width: auto;
}

  @media screen and (min-width: 600px) {
    #leftsidebar {padding-top:22px; width: 22%; float: left;}
    #main {margin-left: 23%;}
    #navbar li{display:inline;float:right;width:auto;}    
    #navbar a{padding-right: 25px !important;padding-right: 5px;}
    #navbar a:hover{font-size: 24px;}
    .sticky#menu a{padding-left: 8px !important;}
    h1{font-size: 54px;}
    h2{font-size: 36px;}
    h3{font-size: 34px;}
    h4{font-size: 28px;}
    h5{font-size: 24px;}
    p{font-size: 20px;}
  }

  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

#site-title{
    margin: 0 35px;
    height:auto;
    padding-bottom: 10px;
}

#site-title a{
    text-decoration: none;
    font-size: 35px;
    color: rgb(0,0, 0);
    font-family: "poppins", "ubuntu", sans-serif;
    font-weight: bolder;
    transition: all 1s;
}

#site-title a:hover{
    font-size: 38px;
}

#page-hero{    
    width: auto;
    position: relative;
    padding-top: 2px;   
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin: 0; 
}

#page-title{
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    width:100%;    
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 100;
 /*   text-decoration: none;
    transition-property: all;
    transition-duration: 1s;*/
}

#page-title h1{
    color:maroon;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgb(52, 51, 53);
}

#navbar{padding-inline-start: 3px;}
#navbar a{padding-left: 3px;}
#navbar ul{
    margin-top: 0;
    padding: 5px;
    text-align:left;
    height:35px;    
}

#navbar li{list-style-type: none;}

.menuitem a {
    color:black;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}


.sticky { 
    position: fixed;
    top: 12px;
    display:grid;
    opacity: 0.8; 
    border:2px;
    border-color: black;
}
.sticky a {
    font-size: 20px;
    padding-left: 3px !important;
}

.sticky:hover{
    opacity: 1;
    background-color:white;
    padding-right: 8px;
    transition-duration: 1s;
}



#donate{
    margin-top: 20px;
    display: inline;
    text-align: center;  
}


#page-description{
    font-family: "poppins", sans-serif!important;
    border-top: solid 1px;
    border-bottom: solid 1px;
    
}
#page-description a{
    margin-block-end: 0px;
}
#page-description h1{
    margin-top: 0;
}
.section{
    padding-top: 70px;
    width: 100%;
    min-height: 150px;
}
.s50{
    height: 50px;
    width: 100%;
}
.s100{
    height: 100px;
    width: 100%;
}

.button2-centered button{
    display: inline;
    float: left ;
    margin: 0;
    position: absolute;
    left: 25%;


}
.links{
    font-family: "Poppins", sans-serif;
    font-weight:300;
    font-size: 24px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    transition-duration: 1s;

}
.links:hover{
    font-size: 28px;
}

#video1{
    margin-top: 15px;
    text-align: center;
    width:100%;
}


.video-text{
    text-align: left;
    height:16px;
    font-weight: bold;
    font-size: 15px;
}
.responsive{
    max-width: 100%;
    height: auto;
}

.video-page-container{
    height: 600px;
    position: relative;
}

.index {
    @media screen and (min-width: 600px)
    {margin-left: 220px !important;}
    @media screen and (max-width: 600px)
    {padding-bottom: 35px;
    margin-left: 50px !important;}
}

.index h3 {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(39, 39, 39);
  }
    .index a {    
    display: block;
    font-size: 28px; 
    color: rgb(39,39, 39);
    padding-left: 2%;
    padding-top: 0px;
    text-decoration: none; 
    transition-property: all;
    transition-duration: 0.5s;
  }
  .index a:hover {
  font-size: 115%x;  
  font-weight: bolder;
  margin-left: 2%;
  color:maroon;
  text-shadow: 3px 3px 3px rgb(123, 117, 142);
  }
  .grow a{    
    text-decoration: none; 
    transition-property: all;
    transition-duration: 1s;
  }

  .grow a:hover{
    font-size: 115%;
    color:maroon;
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgb(123, 117, 142);
  }

  .grow form {transition-duration: 1s;}

  .grow form:hover {
    width: 120%;
}

  .button{  
    height: 45px;
  }

  .hide{
    display: none;
  }
  .small_text{
    font-size: 14px;
    margin-top: 0;
  }

.bordered-2{
    border: 2px;
    border-color: black;
    border-radius: 8px;
}
