 h2{
    margin-left: 500px;
    text-align: left;
}

.page1{
    display: grid;
    grid-template-columns: 15px 70px 15px;
}

.hero{
    height:400px;
    width: 100%;
    margin: 0;
    background-image:url("../Images/Banner1.JPG");
    background-position: center;
    background-repeat: no-repeat;
}

.s100{
    height: 80px;
    width: 100%;
}

.main h2 a{
    color:blue;    
    text-decoration: underline;            
}

.main h2 a:hover{
    color: blue;
    font-weight: bolder;      
    text-decoration: underline;           
}
