.product{
    margin-top: 50px;
    width: 80%;  
    padding: 12px;  
    background-color: rgb(255, 140, 105, 0.35);
    border: solid 3px black;
    border-radius: 10px;
}

.product a {
    text-decoration-line: none;
    color: black;
}

@media screen and (max-width:599) {
    .product{width: 95%;}
    p{font-size: 16px;}
}